<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.theatrum">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.theatrum.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.theatrum.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_theatrum"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_theatrum_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Theatrum">
        <activity android:name=".showTrailer"></activity>
        <activity android:name=".TicketDetailActivity" />
        <activity android:name=".WalkthroughActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MovieDetailsActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.theatrum-app.com"
                    android:pathPattern="/movie"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>